/* Home.css */

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Logo */
  .logo {
    margin-top: 80px;
  }
  
  .image {
    width: 200px;
    height: auto;
  }
  
  /* About Us Section */
  .we {
    margin-top: 60px;
  }
  
  .aboutus {
    font-size: 28px;
    font-weight: 500;
    color: #ff6347;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Login Section */
  .homelog {
    margin-top: 40px;
  }
  
  .sign {
    font-size: 20px;
  }
  
  .log {
    color: #ff6347;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .log:hover {
    color: #e65c4f;
  }
  
  /* Search Section */
  .search {
    margin-top: 60px;
  }
  
  .searchbook {
    padding: 12px 24px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
    width: 500px;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .SButton {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .SButton:hover {
    background-color: #e65c4f;
  }
  
  /* Section Links */
  .section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  
  .Top100,
  .request {
    background-color: #ff6347;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  .Top100:hover,
  .request:hover {
    background-color: #e65c4f;
  }
  
  /* Content Spacing */
  .content {
    flex: 1 0 auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .searchbook {
      width: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .searchbook {
      width: 300px;
    }
  }